{% extends 'images/base.html' %}

{% block content %}
{% if images %}
      <div class="row">
      {% for img in images %}
      <!--div class="col-6 col-md-2"-->
      <img src="{{ img.image.url }}" alt="img">
      <a href="{{ img.image.url }}">ダウンロード1</a>
      <img src="{{ img.image_medium.url }}" alt="img">
      <a href="{{ img.image_medium.url }}">ダウンロード2</a>
      <img src="{{ img.image_small.url }}" alt="img">
      <a href="{{ img.image_small.url }}">ダウンロード3</a>
      <p class="text-center">作成日：{{ img.created_at }}</p>
      <!--/div-->
      {% endfor %}
      </div>
{% else %}
<h1>現在画像はありません</h1>
<h1>上部にある「画像の保存」ページにて画像をアップロードできます。</h1>
<h1>なお、手数料として１０万円頂きます</h1>
<h1>宜しいですか？</h1>
{% endif %}
{% endblock %}
